export GIT_REVIEW_TREESITTER_PATH="/Users/felgenh3/.local/share/nvim/site/parser:/Users/felgenh3/.local/share/nvim/site/pack/core/opt/nvim-treesitter/runtime/queries"

export RUST_LOG="git_review::syntax=trace,git_review::buf=trace"

